<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailClient.SMTP" value="smtp-server" />
    <add key="EmailClient.Account" value="email-account" />
    <add key="EmailClient.Password" value="email-password" />
    <add key="EmailClient.Templates.Path" value="templates-path" />
  </appSettings>
</configuration>